@import '../../assets/scss/variables';
.breaking-news {
    background: rgb(243, 0, 0);
    background: linear-gradient(180deg, rgba(243, 0, 0, 1) 0%, rgba(185, 0, 0, 1) 100%);
    display: flex;

    .container {
        overflow: hidden;
    }

    .bn {
        &-title {
            font-size: $font-16;
            color: $white;
            font-weight: 700;
            padding: 7px 0px;
            position: relative;
            padding-right: 25px;
            margin-right: 25px;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 7px;
                width: 1px;
                height: 30px;
                background-color: $white;
            }
        }

        &-slider {
            color: $white;
            padding-top: 15px;

            a {
                font-size: $font-13;
                color: $white;

                span {
                    background-color: $yellow;
                    color: $black;
                    font-size: $font-10;
                    font-weight: 700;
                    padding: 5px 3px 2px;
                    margin-right: 5px;
                }
            }

        }
    }
}